# ==============================
# APPLICATION
# ==============================
PORT=
NODE_ENV=

# ==============================
# BASE DE DONNÉES POSTGRESQL
# ==============================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST=
POSTGRES_PORT=

DATABASE_URL=

# ==============================
# BETTER AUTH
# ==============================
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
