# ==============================
# DÉPENDANCES
# ==============================
node_modules/

# ==============================
# COMPILATION
# ==============================
dist/
build/

# ==============================
# ENVIRONNEMENT (⚠️ ne jamais commiter !)
# ==============================
.env
.env.local
.env.production

# ==============================
# DOCKER
# ==============================
postgres_data/

# ==============================
# LOGS
# ==============================
*.log
npm-debug.log*

# ==============================
# ÉDITEURS
# ==============================
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# ==============================
# OS
# ==============================
.DS_Store
Thumbs.db
